* {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

h1 {
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

html {
    width: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: grid;
    width: 65%;
    grid-template-columns: auto;
}

.sedanimg {
    grid-column: 1 / 2;
    grid-row: 1;
}

.suvimg {
    grid-column: 3 / 4;
    grid-row: 1;
}

.luxuryimg {
    grid-column: 5 / 6;
    grid-row: 1;
}

.sedanh1 {
    grid-column: 1 / 2;
    grid-row: 2;
}

.suvh1 {
    grid-column: 3 / 4;
    grid-row: 2;
}

.luxuryh1 {
    grid-column: 5 / 6;
    grid-row: 2;
}

.sedanp {
    grid-column: 1 / 2;
    grid-row: 3;
}

.suvp {
    grid-column: 3 / 4;
    grid-row: 3;
}

.luxuryp {
    grid-column: 5 / 6;
    grid-row: 3;
}

.sedanbutton {
    color: hsl(31, 77%, 52%);
    width: fit-content;
    grid-column: 1 / 2;
    grid-row: 4;
}

.suvbutton {
    color: hsl(184, 100%, 22%);
    width: fit-content;
    grid-column: 3 / 4;
    grid-row: 4;
}

.luxurybutton {
    color: hsl(179, 100%, 13%);
    width: fit-content;
    grid-column: 5 / 6;
    grid-row: 4;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow:0px 0px 0px 2px hsl(0, 0%, 95%) inset;
    color: hsl(0, 0%, 95%);
    background-color: transparent;
}

.sedanbackground {
    border-radius: 20px 0 0 20px;
    background-color: hsl(31, 77%, 52%);
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.suvbackground {
    background-color: hsl(184, 100%, 22%);
    grid-column: 3 / 4;
    grid-row: 1 / 5;
}

.luxurybackground {
    border-radius: 0 20px 20px 0;
    background-color: hsl(179, 100%, 13%);
    grid-column: 5 / 6;
    grid-row: 1 / 5;
}

img, h1, p, button {
    margin: 20px;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: hsl(0, 0%, 95%);
}

@media (max-width: 640px) {

    main {
        top: none;
        margin: 100px 0;
        transform: translate(calc(-100% / 3 * 2), 0%);
        width: 75%;
        position: relative;
        height: 75%;
    }

    .sedanimg {
        grid-column: 1 / 2;
        grid-row: 1;
    }
    
    .suvimg {
        grid-column: 1 / 2;
        grid-row: 5;
    }
    
    .luxuryimg {
        grid-column: 1 / 2;
        grid-row: 9;
    }
    
    .sedanh1 {
        grid-column: 1 / 2;
        grid-row: 2;
    }
    
    .suvh1 {
        grid-column: 1 / 2;
        grid-row: 6;
    }
    
    .luxuryh1 {
        grid-column: 1 / 2;
        grid-row: 10;
    }
    
    .sedanp {
        grid-column: 1 / 2;
        grid-row: 3;
    }
    
    .suvp {
        grid-column: 1 / 2;
        grid-row: 7;
    }
    
    .luxuryp {
        grid-column: 1 / 2;
        grid-row: 11;
    }
    
    .sedanbutton {
        grid-column: 1 / 2;
        grid-row: 4;
    }
    
    .suvbutton {
        grid-column: 1 / 2;
        grid-row: 8;
    }
    
    .luxurybutton {
        grid-column: 1 / 2;
        grid-row: 12;
    }
    
    .sedanbackground {
        border-radius: 20px 20px 0 0;
        grid-column: 1 / 2;
        grid-row: 1 / 5;
    }
    
    .suvbackground {
        grid-column: 1 / 2;
        grid-row: 5 / 9;
    }
    
    .luxurybackground {
        border-radius: 0 0 20px 20px;
        grid-column: 1 / 2;
        grid-row: 9 / 13;
    }
}
